<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847066804234-fu9592m1gqtn4t6263cphrjudoqob11g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847066804234-fu9592m1gqtn4t6263cphrjudoqob11g</string>
	<key>API_KEY</key>
	<string>AIzaSyAic-jg81aUUYwlxc9xyoG-D2n3TvI9p10</string>
	<key>GCM_SENDER_ID</key>
	<string>847066804234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripapp</string>
	<key>PROJECT_ID</key>
	<string>tripapp-5cf14</string>
	<key>STORAGE_BUCKET</key>
	<string>tripapp-5cf14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847066804234:ios:f06b955d8fa1e1ff336ff3</string>
	<key>DATABASE_URL</key>
	<string>https://tripapp-5cf14-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>